body {
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*que no tenga movimientos*/
    background-position: center;
    position: relative;
    border: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.col {
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.2);
    height: 2.6rem;
}

.header img {
    height: 2rem;
}

span.btn.btn-header {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 18px;
    font-size: 14px;
}

#icon-lupa {
    position: relative;
}

img#logo:hover {
    opacity: .8;
    transition: .1s ease;
}

input.btn-header {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 4px;
    line-height: 18px;
    color: #fff;
    width: 10em;
}

.icon-right span {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-right: 4px;
    line-height: 18px;
    padding: 5px 8px 6px 7px;
}

.icon-right .bell {
    background: #00c2e0;
}


/* --- SEGUNDA BARRA --- */

#title-project {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
}

#icon-star {
    color: #fff;
    line-height: 32px;
    font-size: 12px;
}

span.btn.two {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
}

#img {
    height: 30px;
    margin-top: 7px;
}

#menu span {
    text-decoration: underline;
    color: #fff;
    line-height: 32px;
    font-size: 14px;
}

a i {
    color: #fff;
    font-size: 9px;
}