body {
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    border: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.col {
    padding: 0;
}


/* -- HEADER --*/

header {
    background: rgba(0, 0, 0, 0.2);
    height: 2.6rem;
}

.header img {
    height: 2rem;
}

span.btn.btn-header {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 18px;
    font-size: 14px;
}

img#logo:hover {
    opacity: .8;
    transition: .1s ease;
}


/* input.btn-header {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 4px;
    line-height: 18px;
    color: #fff;
    width: 10em;
} */

.icon-right span {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-right: 2px;
    line-height: 18px;
    padding: 5px 7px 6px 7px;
}

.icon-right .bell {
    background: #00c2e0;
}

#contenedor-header {
    padding: 8px 4px 8px 8px;
}


/* --- SEGUNDA BARRA --- */

#title-project {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

#icon-star {
    color: #fff;
    line-height: 32px;
    font-size: 12px;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
}

span.btn.two {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
}

#img {
    height: 30px;
    margin-top: 7px;
    padding-left: 7px;
}

#menu span {
    text-decoration: underline;
    color: #fff;
    line-height: 32px;
    font-size: 14px;
}

a i {
    color: #fff;
    font-size: 9px;
}


/* ---TABLEROS ---*/

.tableros {
    position: relative;
    padding: 4px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 272px;
    margin: 0 4px;
    display: inline-block;
    border: 0;
    text-align: left;
}

.tableros:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

a.btn.list {
    height: auto;
    min-height: 32px;
    padding: 4px;
    border-radius: 3px;
    color: #f2f2f2;
    font-size: 14px;
}

a.btn.list:hover {
    color: #fff;
}

form {
    text-align: left;
}


/* -- AÑADIR LISTAS -- */

#cards {
    width: 272px;
    border-radius: 3px;
    background-color: #e2e4e6;
    position: relative;
    padding: 4px;
    height: auto;
    margin-left: 8px;
}

#inputList {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #cdd2d4;
    border-radius: 3px;
    padding: 6px 8px;
    border-color: #298fca;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding: 6px 8px;
}

#btnAddList {
    display: inline-block;
    font-weight: 700;
    margin-top: 4px;
    padding: 4px 16px;
    font-size: 14px;
    min-height: 32px;
}

#formList {
    width: 272px;
    background: #e2e4e6;
    border-radius: 3px;
    flex-direction: column;
    position: relative;
    padding: 4px;
    height: auto;
    margin-left: 8px;
}

div#addCard {
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
    height: auto;
}

span {
    color: #444;
}